.intro-picture {
  position: relative;
  margin-right: 75px;
}


.phone-body-outside,
.phone-body,
.phone-background,
.phone,
.phone-buttons,
.phone-antennas,
.phone-front-camera,
.phone-notch {
  position: absolute;
  z-index: 1;
}

.phone-body-outside {
  position: relative;
  top: 0;
  left: 0;
}


.phone-body {
  left: 1px;
  z-index: 2;
}

.phone-background {
  left: 1px;
  z-index: 3;
}

.phone {
  top: 12px;
  left: 12.5px;
  z-index: 3;
}

.phone-buttons {
  top: 137px;
  left: -2.5px;
}

.phone-antennas {

  z-index: 6;
}

.phone-front-camera {
  top: 22px;
  left: 122px;
  z-index: 7;
}

.phone-notch {
  top: 6px;
  left: 140px;
  z-index: 7;
}

@media (max-width: 1200px) {
  .intro-picture {
    margin-right: 0px;
  }
}

@media (max-width: 429px) {
  .intro-picture img {
    max-width: 300px;
    max-height: 630px;
  }

  .phone {
    top: 10px;
    left: 1.5px;
    z-index: 3;
    max-width: 300px;
    max-height: 635px;
  }

  .intro-picture {
    max-width: 300px;
    max-height: 635px;
  }

}