.header {
  margin-block: 40px;
  padding-inline: 40px;
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
}

.header-logo {
  max-width: 64px;
  margin-right: 99px;
}

.header-link-wrapper {
  margin-right: 32px;
}

.header-link {
  color: var(--dark);
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
}

.header-link-dark {
  color: var(--white);
}

.header-button {
  background: rgba(41, 126, 226, 0.12);
  font-size: 20px;
  color: var(--deep-blue);
}

.header-button-dark {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--White-60, rgba(255, 255, 255, 0.60));
}

@media (max-width: 900px) {

  .header {
    margin-block: 44px;
  }

  .header-link-wrapper {
    margin-right: 20px;
  }

  .header-link {
    font-size: 18px;
  }

  .header-button {
    font-size: 18px;
    padding: 12px 32px;
  }

  .header-logo {
    margin-right: 0px;
  }

  .header-logo img {
    max-width: 52px;
  }
}

@media (max-width: 700px) {

  .header {
    padding-inline: 20px;
  }

  .header-link-wrapper {
    margin-right: 20px;
  }

  .header-link {
    font-size: 16px;
  }


  .header-logo img {
    max-width: 48px;
  }
}

@media (max-width: 600px) {
  .header-navigation {
    display: none;
  }

}