.header {
  margin-block: 40px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
}

.header-logo {
  max-width: 64px;
  margin-right: 99px;
}

.header-link-wrapper {
  margin-right: 32px;
}

.header-link {
  color: var(--dark);
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
}

.header-button {
  background: rgba(41, 126, 226, 0.12);
  font-size: 20px;
  color: var(--deep-blue);
}