:root {
  --dark: #0D0D12;
  --white: #FFF;
  --blue: #41A4DF;
  --deep-blue: #297EE2;
  --dark-blue: #232328;
  --background-color: #f4f6f6;
  --background-light: #F7F9FB;
  --background-blue-light: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
  --background-pink: linear-gradient(340deg, #FAACA8 8.42%, #DDD6F3 91.45%);
  --background-yellow: linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%);
  --background-blue: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);
}

@font-face {
  font-family: 'SFPro Bold';
  src: url('../public/fonts/SFProBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro Medium';
  src: url('../public/fonts/SFProMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('../public/fonts/SFProRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro Semibold';
  src: url('../public/fonts/SFProSemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro Text Semibold';
  src: url('../public/fonts/SFProTextSemibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url('../public/fonts/SFMonoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Inter', sans-serif;
  color: var(--dark);
  letter-spacing: 1.1px;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  font-family: 'SFPro', sans-serif;
  display: inline-flex;
  padding: 18px 42px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 900px;
  cursor: pointer;
}