.features {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 144px;
}

.features-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}