.features {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 144px;
}

.features-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.features-container-row2,
.features-container-row3 {
  display: flex;
  justify-content: space-between;
}

.features-container-column1 {
  display: flex;
  flex-direction: column;
  max-width: 488px;
  gap: 20px;
}