.exchange {
  padding: 42px 56px;
  background-color: var(--background-light);
  border-radius: 40px;
  max-width: 488px;
  max-height: 366px;
}

.exchange-labels-container {
  display: flex;
  justify-content: center;
}

.exchange-labels-crypto {
  position: relative;
  width: 180px;
}

.exchange h3 {
  font-size: 42px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 0px;
  margin-top: 20px;
}

.exchange p {
  letter-spacing: .7px;
  margin-bottom: 0px;
}


.label1 {
  position: absolute;
  left: 35px;
}

.label2 {
  position: absolute;
  left: 65px;
}

.link {
  color: var(--blue);
}