.intro {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  padding-block: 20px;
  margin-bottom: 120px;
}

.intro-title {
  max-width: 692px;
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 88px;
  letter-spacing: -1.5px;
  margin-top: 80px;
  margin-bottom: 32px;
}

.intro-title span {
  color: var(--blue);
  letter-spacing: -2.2px;
  font-size: 80px;
}

.intro-subtitle {
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.intro-button {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  background-color: var(--blue);
}

.bots-container {
  margin-top: 56px;
  position: relative;
}

.bot-image-1,
.bot-image-2,
.bot-image-3,
.bot-image-4 {
  position: absolute;
}

.bot-image-1 {
  left: 64px;
  z-index: 2;
}

.bot-image-2 {
  left: 128px;
  z-index: 3;
}

.bot-image-3 {
  left: 192px;
  z-index: 4;
}

.bot-image-4 {
  left: 256px;
  z-index: 5;
}