.verification {
  padding: 0 56px 42px 56px;

  background-color: var(--background-light);
  border-radius: 40px;
  max-width: 692px;
  max-height: 510px;
}

.verification-phone-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}


.verification h3 {
  font-size: 42px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 0px;
  margin-top: 20px;
}

.verification p {
  letter-spacing: .7px;
  margin-bottom: 0px;
}

.link {
  color: var(--blue);
}

.message-image {
  position: absolute;
  left: 90px;
  top: 75px;
  z-index: 2;
}

.message-shadow-image {
  position: absolute;
  top: 60px;
  z-index: 1;
}